.background-company {
    background-color: white;
    margin-bottom: 2%;
}

.title-company {
    font-size: 4rem;
    margin-bottom: 1%;
}

.company-paragraph {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.company {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
}

.company-cards {
    margin-top: 2%;
}

.company-img {

}

.company-card-headline {
    margin-top: 1%;
    margin-bottom: 2%;
}

.company-card-description {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}


/* MOBILE CSS */

.title-company-mobile {
    font-size: 4rem;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.company-paragraph-mobile {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.company-mobile {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 2%;
}

.company-cards-mobile {
    margin-top: 2%;
    align-self: flex-start;
}

.company-card-description-mobile {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    text-align: left;
}