.nav-background {
    background-color: darkgray;
    padding: 0.2em 2em;
    box-shadow: 0 0 5px #555;
    margin-bottom: 4em;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    z-index: 99999;
}

.navBar {
    margin: 0;
    display: inline-block;
    margin-right: 50px;
    font-size: 25px;
    padding-right: 80px;
}

@media (max-width:900px) and (min-width:800px) {
    .navBar {

        font-size: 20px;
        padding-right: 30px;
    }
}

@media (max-width:800px) and (min-width:700px) {
    .navBar {

        font-size: 20px;
        padding-right: 30px
    }
}

@media (max-width:700px) and (min-width:600px) {
    .navBar {

        font-size: 20px;
        padding-right: 0px
    }
}

@media (max-width:600px) and (min-width:500px) {
    .navBar {
        margin-top: 0;
        font-size: 12px;
        padding-right: 0px;
    }
}

@media (max-width:500px) and (min-width:300px) {
    .navBar {
        
        font-size: 9px;
        padding-right: 8px;

    }
}

.navBar :hover {

    font-weight: bold;

}