.nav-background {
    background-color: white;
    padding: 0.2em 2em;
    margin-bottom: 4em;
    position: fixed;
    width: 100%;
    z-index: 99999;
    text-align: end;
    text-decoration: none;
    height: 5%;
}

.navBar {
    display: inline-flex;
    margin: 0;
    margin-top: 12px;
    margin-right: 2%;
    font-size: 1.5rem;
    padding-right: 4%;
    color: black;
}

.navBar :hover {
    font-weight: bold;
}
.nav-link {
    color: black;
}