.background-products {
    background-color: black;
    background-size:100% ;
    color: white;
    padding-bottom: 2%;
}

.title-products {
    font-size: 4rem;
}

.products {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.products-card {
    margin-top: 3%;
    margin-bottom: 3%;

}

.products-img {

}

.products-headline {
    margin-top: 1%;
    margin-bottom: 2%;
}

.products-description {
    margin-left: 25%;
    margin-right: 25%;

}


/* MOBILE CSS */

.title-products-mobile {
    font-size: 4rem;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.products-paragraph-mobile {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.products-mobile {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 2%;
}

.products-cards-mobile {
    margin-top: 2%;
    align-self: flex-start;
}

.products-card-description-mobile {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    text-align: left;
}